.global{
    width: 1020px;
    margin: auto;
}


.header{
    background-image: url(/praia.png);
    background-repeat: no-repeat;
    width: 1024px;
    height: 600px;
    position: relative;
    
}

#logo{

    margin:auto;
    background-color: rgba(0, 0, 0, 0.3);

}

#logo p{
    font-size: 72px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    text-shadow:  4px 4px rgb(14, 13, 13) ;
    text-align: center;
}

#mapa{
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu{
    position:absolute;
    bottom: 8px;
    left: 400px;
    
}

.menu li{
    display: inline-block;
    margin-right: 10px;
    
}

.menu a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px rgb(14, 13, 13);
}
